<template>
  <v-content>
    <v-container style="max-width: 70%">
      <v-layout justify-center>
        <v-flex class="display-3 text-xs-center mb-3">
          {{ $t('menu.about-us') }}
        </v-flex>
      </v-layout>
      <v-layout class="subheading">
        <v-flex class="pr-paragraph">
          <span class="text-xs-center">Международное общественное движение «Альтернатива» было создано в 2011 году правозащитником Олегом Мельниковым из гуманистических побуждений помочь жертвам современного рабства спастись из неволи и начать свободную жизнь.</span>
          <br><br>
          <span class="text-xs-center">«Альтернатива» помогает жертвам принудительного труда, проституции, попрошайничества и семейного насилия.</span>
          <br><br>
          «Альтернатива» — единственная профильная организация, которая непосредственно участвует в спасательных операциях как на территории РФ, так и в других регионах мира.<br> После освобождения, жертвам предлагается помощь в возвращении домой, или безопасное убежище.<br> По запросу, активисты предоставляют поддержку психолога, юриста-консультанта и помощь в трудоустройстве.
          <br><br>
          Также активисты «Альтернативы» не раз помогали соотечественникам, которые в силу сложившихся обстоятельств (утрата документов) годами жили на нелегальном
          положении за границей и не имели возможности вернуться домой.
          <br><br>
          <v-card class="elevation-0">
            <v-img
                :src="require('../assets/about/valgal.png')"
            ></v-img>
            <v-card-title primary-title class="px-0 text-xs-justify">
              <div>
                <h3 class="headline mb-0">Валерий Галактионов</h3>
                <div class="subheading">В феврале 2017 года волонтеры помогли выехать из Армении Валерию Галактионову, который из-за опечатки в написании фамилии в личном деле воинской части не мог вернуться в Россию с 1995 года.</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="teal darken-2" target="_blank" href="https://www.youtube.com/watch?v=Npqv9grIfXk">{{ $t('news.explore') }}</v-btn>
            </v-card-actions>
          </v-card>
          <br><br>
          «Альтернатива» регулярно публикует сюжеты об освобождениях, проведенных активистами, а также срез релевантных мировых новостей, отражающих текущее состояние проблемы.
        </v-flex>
      </v-layout>
      <v-layout justify-center>
        <v-flex class="display-3 text-xs-center mb-3">
          История
        </v-flex>
      </v-layout>
      <v-layout class="subheading">
        <v-flex class="pr-paragraph">
          <span>Идея организовать движение против современного рабства появилась у О. Мельникова после поездки в Дагестан, куда он по просьбе знакомого приехал для участия в освобождении жертвы трудовой эксплуатации на кирпичном заводе. Благодаря поддержке СМИ, правоохранительные органы инициировали проверки, в результате которых трое местных «рабовладельцев» получили тюремные сроки, а пятеро потерпевших вернулись домой.
          <br><br>
          Как выяснилось, <b>в Дагестане процветает трудовая эксплуатация</b> на фермах и кирпичных заводах, поскольку привлечь преступников к ответственности за работорговлю практически невозможно: <b>уголовным законодательством РФ не предусмотрена санкция за использование принудительного труда.</b></span>
          <br>
          <v-card class="elevation-0">
            <v-img
                :src="require('../assets/about/family.png')"
            ></v-img>
            <v-card-title primary-title class="px-0 text-xs-justify">
              <div>
                <h3 class="headline mb-0">В октябре 2012 года волонтеры в сопровождении команды журналистов освободили из подсобки продуктового магазина на востоке Москвы 12 человек (9 женщин и 3 мужчин), граждан Казахстана, Узбекистана и Таджикистана.</h3>
                <div class="subheading">Как выяснилось, некоторые из них находились в рабстве более 12 лет. Позже это дело под названием «Гольяновские рабы» получило широкую огласку в российских и иностранных СМИ.</div>
              </div>
            </v-card-title>
            <v-card-actions>
              <v-btn flat color="teal darken-2" target="_blank" href="https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D0%BB%D1%8C%D1%8F%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B8%D0%B5_%D1%80%D0%B0%D0%B1%D1%8B">{{ $t('news.explore') }}</v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
      <span class="abouttext subheading">
        <p>
          В 2013 году получила широкое распространение история <b>«крышевания»</b> одного из кирпичных заводов Дагестана, где применялся принудительный труд, <b>сотрудником правоохранительных органов республики</b>. Активистам «Альтернативы» и полиции удалось разоблачить <b>сотрудника МВД</b>, который удерживал на заводе и требовал выкуп у мужчины, завербованного в Москве. Однако, несмотря на внимание СМИ и членов Общественной палаты, <b>Следственный Комитет РФ отказал в возбуждении уголовного дела</b>.
        </p>

        В 2014 году некоторые волонтёры «Альтернативы» (несмотря на различия в позициях активистов по ситуации в Украине) отправились в зону военного конфликта на Донбассе для содействия в обмене военнопленными.
        <br>
        Менее чем за 2 года, активистам удалось вызволить из плена свыше 300 людей.
        <br><br>
        Летом 2014 года активисты освободили 17 человек из трудового рабства на кирпичном заводе в Дагестане. Как выяснилось, конечным бенефициаром предприятия являлся известный в республике человек и депутат «Единой России» — Магомед Раджабов. Волонтеры организовали петицию с целью привлечь рабовладельца к ответственности. Однако, местные правоохранительные органы оставили дело без внимания.
        <br><br>
        В 2015 году, активисты движения помогли мужчине с высшим техническим образованием выбраться из рабства на строительном объекте в Новом Уренгое. Вместо обещанной в объявлении должности прораба, потерпевшего эксплуатировали по 12 часов в день как бесплатную рабочую силу. В результате попытки отстоять свои права, мужчина получил перелом ребра.
        <br><br>
        В 2016 году, активисты «Альтернативы» по запросу местной жительницы провели операцию в Нижнем Новгороде по вызволению инвалида из нищенского рабства, организованного цыганской диаспорой. Немногим позже выяснилось, что еще один инвалид подвержен эксплуатации и его также удалось спасти.
        <br><br>
        В 2017-2018 годах «Альтернатива» открыла представительства в Зимбабве, Южном Судане и Израиле.
        <br><br>
        <v-layout wrap>
          <v-flex xs12 md4>
            <v-card>
              <v-img height="200px" :src="require('../assets/about/zim.png')"></v-img>
            </v-card>
          </v-flex>
          <v-flex xs12 md4>
            <v-card>
              <v-img height="200px" :src="require('../assets/about/saviors.jpg')"></v-img>
            </v-card>
          </v-flex>
          <v-flex xs12 md4>
            <v-card>
              <v-img height="200px" :src="require('../assets/about/nigerians.jpg')"></v-img>
            </v-card>
          </v-flex>
        </v-layout>
        <br>
        В апреле 2017 года, The Guardian выпустил документальный фильм о современном рабстве в РФ: журналисты вместе с активистами «Альтернативы» отправились в Дагестан на помощь семейной паре из Волгограда, которая попала в трудовое рабство на местной ферме. Журналистам удалось заснять все этапы операции, в том числе эпизод с применением  рабовладельцами физического насилия в отношении потерпевших и волонтеров.
        <br><br>


        В сентябре 2017 года, специалист в области противодействия торговле людьми и эксплуатации, Вера Георгиевна Грачева, присоединилась к «Альтернативе» в качестве консультанта и представителя на мероприятиях, организованных ОБСЕ, ООН, МОМ и Советом Европы.
        <br><br>
        В апреле 2018 году, после создания международной сети НПО против торговли людьми и других форм насилия, движение «Альтернатива» совместно с партнерскими организациями «Истикболли Авлод» (Узбекистана) и «Сана Сезим» (Казахстан) присоединились к Альянсу против торговли людьми как платформы международных организаций для сотрудничества и обменом опыта.
        <br><br>


        В течение лета 2018 года, активисты «Альтернативы» содействовали репатриации трудовых  мигрантов из Нигерии, прибывших в РФ благодаря облегченному миграционному режиму и ставших жертвами мошенников, обещавших трудоустройство в России. «Альтернатива» предоставила комфортное размещение и полноценное питание более 300 мигрантам на время пребывания в РФ.
        <br>
        Также активисты провели ряд мероприятий совместно с правоохранительными органами по освобождению жертв принудительной проституции, в результате которых <b>десятки жертв обрели свободу</b>, а <b>торговцы людьми получили административные наказания</b>.
        <br><br>
        За <b>7 лет</b> активной деятельности, волонтеры «Альтернативы» <b>спасли из неволи свыше 700 жертв</b>, а также предоставили комплексную поддержку, включающую в себя юридические консультации, реабилитацию и помощь в репатриации более двум тысячам людей. Также удалось закрыть десятки кирпичных заводов в Дагестане, использовавших принудительный труд, налажено взаимодействие с руководством республики и правоохранительными органами, привлечено внимание общественности.
        <br><br>
        С каждым годом рабовладельцам становится всё сложнее скрывать использование принудительного труда у себя на предприятиях. Также увеличилось количество случаев, когда после визита активистов «Альтернативы» и сотрудников полиции на кирпичный завод, руководство предприятия выплачивало денежную компенсацию работникам, которых изначально планировали эксплуатировать, как бесплатную рабочую силу. Систематическими стали случаи, когда сотрудники полиции в Дагестане передают в движение «Альтернатива» информацию о людях, сбежавших из рабства, для оказания помощи в возвращении домой.
        <br><br>
        Однако многое еще предстоит сделать.
        <br><br>
        По подсчетам Global Slavery Index <b>более 40 миллионов человек в мире пребывают в рабстве</b>. Из них <b>794,000 находятся в рабстве в России</b>.
        <br><br>
        <v-layout>
          <v-flex class="text-xs-center headline">Только совместным усилиями можно решить эту проблему.</v-flex>
        </v-layout>
      </span>
      <pr-donation></pr-donation>
      <v-layout wrap class="my-3">
        <v-flex class="headline">
          FAQ
        </v-flex>
        <v-flex class="subheading">
          «Альтернатива» — волонтерская организация, которая борется с современным рабством. Мы освобождаем людей по России и миру из всех форм рабства: трудового, сексуального, «нищенского».
          <br>
          Наша организация была основана в 2011 году и за время своего существования освободила более 700 человек. Руководитель организации – Олег Мельников.
        </v-flex>
        <v-flex>
          <v-btn flat class="mx-0" href="/faq" color="teal darken-2">
            {{ $t('QA') }}
          </v-btn>
        </v-flex>
      </v-layout>
      <v-layout wrap class="my-3">
        <v-flex class="headline">
          Что мы пишем
        </v-flex>
        <v-flex class="subheading">
          Мы публикуем истории людей, которых освобождаем. Также мы делаем обзор мировых новостей по теме торговли людьми и борьбы с этим преступлением.
          <br>
          Составляем инструкции, которые позволяют предотвращать новые случаи закабаления людей или оказывать грамотную помощь жертвам рабства.
        </v-flex>
      </v-layout>
      <v-layout wrap class="my-3">
      <v-flex class="headline">
        Где мы берем деньги
      </v-flex>
      <v-flex class="subheading">
        «Альтернатива» — волонтерская правозащитная организация. Государственные структуры не оказывают ей никакой финансовой помощи.
        <br>
        Мы существуем на пожертвования неравнодушных людей и волонтеров нашего движения.
      </v-flex>
    </v-layout>
      <v-layout wrap class="my-3">
        <v-flex class="headline">
          Как связаться с нами
        </v-flex>
        <v-flex class="subheading">
          Если ваши родные попали в рабство, если вы подозреваете, что кто-нибудь из ваших знакомых или близких содержится в неволе, если вы «разговорили» попрошайку и выяснили, что его заставляют заниматься его «работой» насильно,
          <br>звоните по <b>горячей линии 8 (800) 550-71-40</b> или пишите на <b>support@alternative.help</b>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import PrCarousel from "../components/PrCarousel";
  import PrDonation from "../components/PrDonation";
  export default {
    name: 'About',
    components: {PrDonation, PrCarousel},
    data () {
      return {

      }
    }
  }
</script>

<style scoped>
  .pr-paragraph {
    padding-bottom: 20px;
  }
</style>
