<template>
  <v-content>
    <v-container fluid>
      <v-expansion-panel>
        <v-expansion-panel-content
        >
          <div slot="header" class="subheading">Добавить новость</div>
          <v-divider></v-divider>
          <v-card>
            <v-card-text class="subheading px-4">
              <v-layout justify-center column>
                <v-flex xs12 sm6 md3>
                  <v-text-field
                    label="Header"
                    required
                    v-model="header"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm6 md3>
                  <v-textarea
                    label="Text"
                    required
                    v-model="text"
                  ></v-textarea>
                </v-flex>
                <v-flex xs12 sm6 md3>
                  <input type="file" id="file" name="file">
                </v-flex>
                <v-btn color="primary" @click="addPost" type="submit">Добавить новость</v-btn>
                <v-btn color="primary" @click="addPic" type="submit">Отправить пикчу</v-btn>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-container>
    <v-btn color="error" @click="logout" type="submit">LOGOUT</v-btn>
  </v-content>
</template>

<script>
  import ApiAuthService from "../services/auth.service";
  import ApiNewsService from "../services/news.service";
  import axios from 'axios';

  export default {
    name: "Admin",
    data () {
      return {
        header: 'Это заголовок',
        text: 'А это - текст, что, в общем-то, и так понятно',
        token: ''
      }
    },
    mounted () {
      this.token = this.$store.getters.getToken
    },
    methods: {
      logout () {
        ApiAuthService.logout().then(resp => {
          console.log(resp)
        })
      },
      addPost () {
        let post = {
          h: this.header,
          text: this.text,
          token: this.token
        }
        ApiNewsService.addPost(post).then(resp => {
          console.log(resp)
        })
      },
      addPic () {
        var formData = new FormData();
        var imagefile = document.querySelector('#file');
        formData.append("image", imagefile.files[0])
        axios.post('https://t-meton.ru/slavery/model/upload.php', formData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
        }).then(function(data) {
          console.warn(data)
        })
      }
    }
  }
</script>

<style scoped>

</style>
