<template>
    <v-content>
    <v-container fluid>
        <v-layout wrap justify-center>
            <v-flex xs12 class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
                <!--Вы можете помочь Альтернативе, совершив добровольное пожертвование на развитие проекта.-->
            </v-flex>
        </v-layout>
      <pr-donation></pr-donation>
    </v-container>
    </v-content>
</template>

<script>

import PrDonation from "../components/PrDonation";

export default {
  name: 'Help',
  components: {
    PrDonation
  }
}
</script>
