<template>
  <v-content>
    <v-container style="max-width: 80%">
      <pr-carousel></pr-carousel>
      <pr-description></pr-description>
      <pr-media></pr-media>
      <pr-news></pr-news>
      <pr-donation></pr-donation>
    </v-container>
  </v-content>
</template>

<script>

  import PrCarousel from "../components/PrCarousel";
  import PrDescription from "../components/PrDescription";
  import PrMedia from "../components/PrMedia";
  import PrNews from "../components/PrNews";
  import PrDonation from "../components/PrDonation";
  export default {
    name: 'Home',
    components: {
      PrDonation,
      PrNews,
      PrMedia,
      PrDescription,
      PrCarousel
    }
  }
</script>

<style scoped>

</style>
