<template>
  <v-content>
    <v-container fluid>
      <v-layout wrap justify-center>
        <v-flex
            xs12
            md6
        >
          <v-card img="https://cdn.vuetifyjs.com/images/cards/docks.jpg" class="pa-5" background-color="white" style="height: 600px">
            <v-layout>
              <v-flex style="background-color: white; margin: auto" xs12 md8>
                <v-layout justify-center>
                  <v-flex xs12 md10>
                    <v-text-field
                        style="color: white; background-color: white"
                        class="mt-5 mx-5 mb-1"
                        v-model="username"
                        :rules="usernameRules"
                        :counter="10"
                        label="Username"
                        required
                        outline
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout justify-center>
                  <v-flex xs12 md10>
                    <v-text-field
                        style="color: white; background-color: white"
                        class="mx-5 mt-1"
                        v-model="password"
                        :rules="passwordRules"
                        :counter="10"
                        label="Password"
                        required
                        outline
                    ></v-text-field>
                  </v-flex>
                </v-layout>
                <v-layout justify-center>
                  <v-btn color="teal darken-2" class="mb-4 white--text" @click="login" type="submit">LOGIN</v-btn>
                </v-layout>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </v-content>
</template>

<script>
  import ApiAuthService from '../services/auth.service.js'

  export default {
    name: "Login",
    data () {
      return {
        valid: false,
        username: '',
        password: '',
        usernameRules: [
          v => !!v || 'Username is required'
        ],
        passwordRules: [
          v => !!v || 'Password is required',
        ]
      }
    },
    computed: {
      isAuthorized () {
        return ApiAuthService.checkToken()
      }
    },
    mounted () {
      if (this.isAuthorized) {
        this.$router.push('/admin')
      }
    },
    methods: {
      login: function () {
        const { username, password } = this;
        ApiAuthService.authRequest(username, password)
      }
    }
  }
</script>

<style scoped>

</style>
