<template>
    <v-content>
        <v-container style="margin-top: 100px">
            <div class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
                <span>Телефон горячей линии: <a href="tel:+78005507140">+7 800 550 71 40</a></span>
            </div>
            <div class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
                <span>Адрес электронной почты: <a href="mailto:rabstvo2013@yandex.ru">rabstvo2013@yandex.ru</a></span>
            </div>
            <div class="text-xs-center py-3" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
                Если вы нуждаетесь в помощи, заполните <a href="https://docs.google.com/forms/d/e/1FAIpQLScGf_SH3m4ZnxSJJU9F2w7BMPU9Sc5jcl6nscYe3nsSTblIhQ/viewform" target="_blank">Заявку</a>
            </div>
        </v-container>
    </v-content>
</template>

</<script>
export default {
    name: 'Sos'
}
</script>
