<template>
  <v-carousel hide-delimiters>
    <v-carousel-item
        v-for="(article, i) in news"
        :key="i"
    >
      <v-layout fill-height>
        <v-flex fill-height>
          <v-card>
            <div class="bg-image"
                 :style="`background-image: url(${article.src})`"
            >
            </div>
            <div class="card__container">
              <v-img
                  contain
                  height="500px"
                  class="white--text main-image"
                  :src="article.src"
              >
              </v-img>
              <v-layout class="card__title py-3 px-5 description-bg">
                <v-flex xs12 align-end flexbox>
                  <span class="headline">{{ article.title }}</span>
                </v-flex>
              </v-layout>
              <v-layout class="card__description">
                <v-flex fill-height>
                  <v-card-title class="description-bg">
                    <div>
                      <span class="">{{ article.date }}</span><br>
                      <br>
                      <span>{{ article.description }}</span><br>
                    </div>
                  </v-card-title>
                  <v-card-actions class="description-bg">
                    <v-btn flat color="white">{{ $t('news.share') }}</v-btn>
                    <v-btn flat color="white" :href="article.link">{{ $t('news.explore') }}</v-btn>
                  </v-card-actions>
                </v-flex>
              </v-layout>
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-carousel-item>
  </v-carousel>
</template>

<script>
  export default {
    name: "PrCarousel",
    data () {
      return {
        news: [
          {
            src: 'https://protivrabstva.ru/wp-content/uploads/2018/11/9a9e57f2-272c-4c83-9b49-bdf1b5ccd1f5.jpg',
            title: '«Сначала человека бьет, а потом наливает водку»',
            description: 'Алексей попал в трудовое рабство еще в 2013 году. Его история началась на Площади трех вокзалов, где он, безработный и где-то потерявший документы, познакомился с вербовщиком — неизвестный предложил Алексею работу в Дагестане с зарплатой в 8 тысяч рублей.',
            date: '23 декабря 2018',
            link: 'https://vk.com'
          },
          {
            src: 'https://protivrabstva.ru/wp-content/uploads/2018/11/mrTYBp6n82-1024x1024.jpg',
            title: '«Пропустил звонок? Штраф – 5 000 рублей!»',
            description: 'Гражданин Узбекистана Музаффар Ш. уехал на заработки в Россию по приглашению знакомого по имени Исмаил. Исмаил предложил ему работу в Кабардино-Балкарии на сельхозполе, зарплату 18 000, а также патент, регистрацию и т.п.',
            date: '23 декабря 2018',
            link: 'vk.com'
          },
          {
            src: 'https://protivrabstva.ru/wp-content/uploads/2018/11/09739290-c42f-443f-86cd-aaef7c937486.jpg',
            title: 'Новый освобожденный с завода Магомеда Раджабова',
            description: 'У нас новый освобожденный: в феврале Александр, уроженец республики Беларусь, был по стандартной схеме завербован на площади Трех вокзалов в Москве и увезен в Дагестан. Ему предложили работу на кирпичном заводе с зарплатой в 50 тысяч рублей, а согласие отметили выпивкой. Всю дорогу до Дагестана пострадавший спал.',
            date: '23 декабря 2018',
            link: 'vk.com'
          },
          {
            src: 'https://protivrabstva.ru/wp-content/uploads/2018/11/kzYvGwjAPLs-1024x779.jpg',
            title: 'У нас новая освобожденная из Дагестана',
            description: 'Алёна пришла на Площадь трех вокзалов 6 октября для встречи со своим знакомым, который обещал пристроить ее в работный дом. Там она планировала трудиться за 1500 рублей в неделю. Но человек так и не пришел, вместо этого с растерявшейся женщиной поспешил познакомиться вербовщик. Он предложил ей работу поваром на кирпичном заводе в Дагестане, уже за 15 000 рублей в месяц.',
            date: '23 декабря 2018',
            link: 'vk.com'
          }
        ]
      }
    }
  }
</script>

<style scoped>
  .card__container {
    height: 500px;
    position: relative;
  }

  .card__title {
    position: absolute;
    top: 10px;
    left: 10px;
    width: auto;
    z-index: 3;
  }

  .card__description {
    bottom: 10px;
    right: 10px;
    left: 10px;
    position: absolute;
    z-index: 3;
  }

  .bg-image {
    filter: blur(8px);
    position: absolute;
    z-index: 1;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .main-image {
    z-index: 2;
  }

  .description-bg {
    background-color: #004b58;
    opacity: 0.8;
  }
</style>
