<template>
  <v-container fluid class="main-color-element pa-0 footer">
    <v-flex xs10 offset-xs1>
      <v-layout class="py-3" align-center>
          <v-flex class="headline">
            {{ $t('tellaboutus') }}
          </v-flex>
          <v-spacer></v-spacer>
          <v-flex class="text-xs-center align-center">
            <v-icon color="white">copyright</v-icon>
            <span class="headline">2011 - 2019</span>
            <v-spacer></v-spacer>
            <span class="caption">
          Proudly created by
          <a
              class="credit-link"
              href="https://t.me/redisotschek"
              target="_blank"
          >
            @redisotschek
          </a>
          </span>
          </v-flex>
      </v-layout>
    </v-flex>
  </v-container>
</template>

<script>
  import PrReminder from "./PrReminder";
  import PrWallets from "./PrWallets";
  export default {
    name: "PrFooter",
    components: {PrWallets, PrReminder}
  }
</script>

<style scoped>
  .footer {
    max-height: 100px;
  }
</style>
