<template>
  <v-btn
    flat
    fab
    :href="link"
    target="_blank"
  >
    <img width="30px" height="auto" :src="require(`@/assets/header/${img}.png`)"/>
  </v-btn>
</template>

<script>
  export default {
    name: "PrIcon",
    props: ['link', 'img']
  }
</script>

<style scoped>

</style>