<template>
  <v-layout wrap class="pt-4" justify-center>
    <v-flex xs12 class="text-xs-center" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
      {{ $t('inthemedia') }}
    </v-flex>
    <v-flex xs12>
      <v-layout row wrap justify-center>
        <v-flex xs12 md3 lg4 v-for="(post, i) in media" :key="i">
          <pr-newscard :imgSrc="require(`../assets/news/${post.name}.png`)" :text="post.text"></pr-newscard>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-btn href="/" class="main-color-element mt-4">
      {{ $t('news.moreposts') }}
    </v-btn>
  </v-layout>
</template>

<script>
  import PrNewscard from "./PrNewscard";
  export default {
    name: "PrMedia",
    components: {PrNewscard},
    data () {
      return {
        media: [
          {
            name: 'guardian',
            text: 'Beatings and death treats are part of daily life for two activists who save people enslaved in the remote Russian republic of Dagestan'
          },
          {
            name: 'rbc',
            text: 'Они прибыли в Россию для работы, но были обмануты: приезжим обещали трудоустройство по «паспорту болельщика», который предлагалось купить за 300$'
          },
          {
            name: 'commersant',
            text: '» — Это рабство, оттуда не возвращаются, — уверяет бездомная старуха. Современное рабство в Москве'
          }
        ]
      }
    }
  }
</script>

<style scoped>

</style>
