<template>
  <v-layout wrap class="py-5" justify-center>
    <v-flex xs12 class="text-xs-center" :class="$vuetify.breakpoint.mdAndUp ? 'display-3' : 'headline'">
      {{ $t('news.latest') }}
    </v-flex>
    <v-flex xs12 :class="$vuetify.breakpoint.mdAndUp ? 'headline' : 'body-2'" class="text-xs-justify my-2">
      <v-layout row wrap justify-center v-if="latestNews">
        <v-layout row wrap justify-center>
          <v-flex xs12 lg4 v-for="(post, i) in latestNews.slice(0,3)" :key="i">
            <pr-newscard :imgSrc="post.img" :title="post.title" :text="post.text"></pr-newscard>
          </v-flex>
        </v-layout>
        <v-layout justify-center>
          <v-btn href="/news" class="main-color-element mt-4">
            {{ $t('learnmore') }}
          </v-btn>
        </v-layout>
      </v-layout>
      <v-layout v-else>
        <v-flex xs12 class="text-xs-center headline">
          {{ $t('news.nothing') }}
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
</template>

<script>
  import axios from 'axios'
  import PrNewscard from "./PrNewscard";
  export default {
    name: "PrNews",
    components: {PrNewscard},
    data () {
      return {
        latestNews: null
      }
    },
    methods: {
      // getNews () {
      //   const params = new URLSearchParams();
      //   params.append('location', 'getAll');
      //   params.append('offset', 15);
      //   axios.post(
      //     'https://t-meton.ru/slavery/Controler/ControlerNews.php',
      //     params
      //   ).then(response => {
      //     this.latestNews = response.data;
      //     console.log(response.data)
      //     })
      // }
    },
    mounted () {
      // this.getNews();
    }
  }
</script>

<style scoped>

</style>
