<template>
  <v-card class="mx-1 newscard">
    <v-img
        :src="imgSrc"
        height="200px"
        contain
        class="ma-1"
    ></v-img>

    <v-card-title primary-title style="height: 100px; text-overflow: ellipsis; overflow: hidden;">
      <v-layout column wrap>
        <v-flex xs12 class="headline mb-0" v-show="title">{{ title }}</v-flex>
        <v-flex xs12 class="subheading">{{ text.substring(0, 100) + '...' }}</v-flex>
      </v-layout>
    </v-card-title>
    <v-card-actions>
      <v-layout row justify-space-between>
        <v-btn flat color="teal darken-2" class="px-0">{{ $t('news.share') }}</v-btn>
        <v-btn flat color="teal darken-2" class="px-0">{{ $t('news.explore') }}</v-btn>
      </v-layout>
    </v-card-actions>
  </v-card>
</template>

<script>
  export default {
    name: "PrNewscard",
    props: ['imgSrc', 'title', 'text']
  }
</script>

<style scoped>
  .newscard {
    height: 350px;
  }
</style>
