<template>
  <v-layout column>
    <v-flex xs12>
      <v-layout>
        <v-flex class="text-xs-center py-3">
          <h1>
            {{ $t('wallets.accounts') }}
          </h1>
        </v-flex>
      </v-layout>
      <v-layout v-for="(wallet, i) in wallets" :key="`wallet` + i" align-center>
        <v-flex xs2>
          <v-layout justify-end class="pr-3">
            <img height="26px" width="auto" :src="require(`../assets/wallets/${wallet.name}.png`)">
          </v-layout>
        </v-flex>
        <v-flex>
          {{ $t(`wallets.${wallet.name}`) }}
          <v-icon>arrow_right</v-icon>
          {{ wallet.text }}
          <v-btn small icon @click="copyToDashboard(wallet.text)">
            <v-icon color="grey">file_copy</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-flex>
    <v-snackbar
        v-model="snackbar"
        bottom
        :timeout="800"
    >
      {{ $t('copied') }}
      <v-btn
          color="teal"
          flat
          @click="snackbar = false"
      >
        {{ $t('close') }}
      </v-btn>
    </v-snackbar>
  </v-layout>
</template>

<script>
  export default {
    name: "PrWallets",
    data: () => ({
      snackbar: false,
      wallets: [
        {
          name: 'sberbank',
          text: '4276 3801 5524 4887'
        },
        {
          name: 'webmoney',
          text: 'R305103454198'
        },
        {
          name: 'paypal',
          text: 'paypal.me/alternativanoslavery'
        },
        {
          name: 'qiwi',
          text: '+79151783818'
        },
        {
          name: 'btc',
          text: '1FU7UFsMTcmXaBmoT9aPcfUqveJFysHPxA'
        },
        {
          name: 'eth',
          text: '0xa269BBc0190F341819e75DEB05DcAe31fE6a4344'
        }
      ]
    }),
    methods: {
      copyToDashboard (text) {
        this.$copyText(text)
        this.snackbar = true
      }
    }
  }
</script>

<style scoped>

</style>
