<template>
  <v-app>
    <pr-header></pr-header>
    <v-content>
      <router-view/>
      <back-to-top bottom="25px" right="25px" visibleoffset="200">
        <v-btn fab color="teal darken-2">
          <v-icon color="white">
            keyboard_arrow_up
          </v-icon>
        </v-btn>
      </back-to-top>
    </v-content>
    <pr-footer></pr-footer>
  </v-app>
</template>

<script>

import PrHeader from './components/PrHeader'
import PrFooter from './components/PrFooter'
import BackToTop from 'vue-backtotop'

export default {
  name: 'App',
  components: {
    PrFooter,
    PrHeader,
    BackToTop
  },
  data () {
    return {
      //
    }
  }
}
</script>

<style>
  .router-link {
    text-decoration: none;
  }

  .main-color-element {
    background-color: #004b58 !important;
    color: white !important;
  }
</style>
